<h1>Create Your Own Recipe</h1>
<form method="POST" action="/recipes">
  <label for='name'>Name:</label><br>
  <input name='name' type='text' value='Name'><br>

  <label for='ingredients'>Ingredients:</label><br>
  <input name='ingredients' type='text' value='Ingredients'><br>

  <label for='cook_time'>Cook Time:</label><br>
  <input name='cook_time' type='text' value='Cook Time'><br>

  <input type="submit" value="Submit"><br>
  </form>
