<form method="post" action="/recipes">
  <label for="name">Your recipe name:</label>
  <input type="text" name="name">
  <label for="ingredients">Your recipe ingredients:</label>
  <input type="text" name="ingredients">
  <label for="cook_time">Your recipe cook time:</label>
  <input type="text" name="cook_time">
  <input type="submit" value="submit">
</form>